

.container {
    background: #f1f1f1;
    width: 450px;
    padding: 25px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    color: #104c90;
    margin: 0 0 10px 0;
} 

img {
    height: 100%;
    width: auto;
    padding-bottom: 25px;
}

.main-header {
    color: #2E7AD3;
    font-size: 44px;
    text-align: center;
}

a {
    color: #FF8000;
    font-weight: bold;
}

a:hover, 
a:focus {
    color: #104c90;
}


p {
    margin-top: 9px;
}