

.container {
    background-color: #F1F1F1;
    width: 450px;
    padding: 25px;
}

h2 {
    font-size: 32px;
    color: #104c90;
    margin: 0 0 45px 0;
} 

img {
    height: 100%;
    width: auto;
    padding-bottom: 25px;
}

.main-header {
    color: #2E7AD3;
    font-size: 44px;
    text-align: center;
}

a {
    color: #FF8000;
}

p {
    margin-top: 9px;
}